* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
}

.container {
   
    width: 100%;
   
}

.coupon {
    display: flex;
    justify-content: space-between;
    color: #5c6c75;
    background-color: #f0f3f2;
    margin: 5px;
    padding: 8px;
}

.shop {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.shop img {
    height: 35px;
    margin-top: 8px;
}

.icon {
    font-size: 20px;
    display: flex;
    gap: 20px;
    color: #84959e;
    margin-top: 12px;
}

.search {
    display: flex;
    gap: 8px;
}

.search input {
    width: 400px;
    height: 45px;
    border-radius: 5px;
    color: #5c6c75;
    border: 1px solid #84959e;

}

.search button {
    width: 120px;
    height: 45px;
    border-radius: 5px;
    color: #5c6c75;
    border: 1px solid #84959e;
    background-color: white;
}

.option {
    display: flex;
    gap: 20px;
}

.option button {
    width: 200px;
    height: 40px;
    color: white;
    border: none;
    background-color: rgb(30, 190, 30);
    border-radius: 8px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin-top: 10px;
    gap: 20px;
}

li {
    display: flex;
}

li i {
    font-size: 20px;
}

.free {
    margin-top: 30px;
    border-radius: 10px;
    background-image: url("https://freshcart.codescandy.com/assets/images/slider/slider-2.jpg");
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    gap: 50px;
    font-size: 25px;
}

.fresh button {
    display: flex;
    width: 130px;
    color: white;
    background-color: black;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    padding: 12px;
}

h2 {
    margin-top: 60px;
}

.catagories {
    display: flex;
    justify-content: space-between;
    margin: 85px;
    
    margin-top: 30px;
    align-items: center;

}

.mart {
    border: 1px solid rgb(164, 132, 132);
    padding: 45px;
    border-radius: 8px;
    color: #5c6c75;
    width: 191px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    background-size: cover;
    gap: 30px;
}

.site-1 {
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png);
    width: 40rem;
    height: 13rem;

    background-size: cover;
}

.site-2 {
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg);
    width: 40rem;
    height: 13rem;
    background-size: cover;

}

.text {
    margin: 50px 00px 00px 30px
}

.text button {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 120px;
    font-size: 15px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.items-cards {
    margin-top: 20px;
    border: 1px solid rgb(164, 132, 132);
    border-radius: 8px;
    padding: 15px;
}

.items p {
    color: #5c6c75;
}
.items{
    border: 2px solid rgba(28, 65, 3, 0.452);
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
}



h4 button {
    background-color: rgb(65, 156, 65);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    width: 70px;
}

.items-cards:hover{
    border: 2px solid green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5;
}



.about {
    display: flex;
    margin-top: 85px;
    justify-content: space-between;
}

.ending {
    background-color: #f0f3f2;
}

.first {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
}

.pro {
    display: flex;
    /* margin-top: 80px; */
    flex-direction: column;
    color: #5c6c75;
}

.fine{
    display: flex;
    padding: 15px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.second{
    display: flex;
    justify-content: space-between;
}

.last{
    display: flex;
    justify-content: space-between;
    color: #5c6c75;
    padding: 10px;
}